<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- 通过这个配置文件完成mybatis与数据库的连接 -->
<configuration>
	<!--设置全局懒加载-->
	<settings>
		<setting name="lazyLoadingEnabled" value="false"/>
	</settings>
	<!--别名设置-->
	<typeAliases>
		<package name="cn.pojo"/>
	</typeAliases>

</configuration>
